#!/bin/bash
set -x

export PATH=/snap/bin:$PATH

: "${CHARM_BUILD_DIR:=/tmp/charms}"

charm whoami
RET=$?
if ((RET > 0)); then
    echo "Not logged into charmstore"
    exit 1
fi

[%- if has_resources %]
function generate::resource::argument
{
    py_script="
import sys
import json
resources_json = json.load(sys.stdin)
resource_map = []
for item in resources_json:
    resource_map.append(f\"--resource {item['Name']}-{item['Revision']}\")

print(' '.join(resource_map))
"
    charm list-resources cs:~"$NAMESPACE"/"$CHARM" --channel unpublished --format json | env python3 -c "$py_script"
}
[%- endif %]


[%- if build_type == "charmcraft" %]
rm -rf temp
mkdir temp
cd temp
unzip ../"$CHARM".charm
[%- endif %]

URL=$(charm push "$CHARM_BUILD_DIR"/builds/"$CHARM"/. cs:~"$NAMESPACE"/"$CHARM" | yq r - url)

if [ "$CHANNEL" != unpublished ]; then
    charm release "$URL" --channel "$CHANNEL" [% if has_resources %]$(generate::resource::argument)[% endif %]
fi
